//
// Stylus helper functions, mixin with:
// @import 'helpers'
//

border-top-bottom()
  border-top arguments
  border-bottom arguments

border-left-right()
  border-left arguments
  border-right arguments

margin-top-bottom()
  margin-top arguments
  margin-bottom arguments

margin-left-right()
  margin-left arguments
  margin-right arguments

padding-top-bottom()
  padding-top arguments
  padding-bottom arguments

padding-left-right()
  padding-left arguments
  padding-right arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-box-shadow arguments
  -ms-box-shadow arguments
  box-shadow arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -o-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

box-sizing()
  -moz-box-sizing arguments
  -webkit-box-sizing arguments
  box-sizing arguments
