* {
  color: #59595e;
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  width: 30em;
  margin: 0.2em;
}
h1 {
  color: #1d74b7;
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.2em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.15, #e5ebee), color-stop(0.85, #e5ebee), color-stop(1, #fff));
  background: -moz-linear-gradient(top, #fff 0%, #e5ebee 15%, #e5ebee 85%, #fff 100%);
  background: linear-gradient(top, #fff 0%, #e5ebee 15%, #e5ebee 85%, #fff 100%);
}
a {
  color: #1d74b7;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
input,
textarea {
  border: 2px solid #c0c0c0;
  outline: none;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  border-radius: 0.2em;
}
button {
  padding-left: 0.1em;
  padding-right: 0.1em;
  min-width: 4em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0.2em;
}
.error {
  color: #f00;
  font-weight: bold;
}
.statusbar {
  font-size: 0.75em;
}
[readonly] {
  color: #c0c0c0;
}
:invalid {
  border-color: #f00;
  -webkit-box-shadow: 0 0 5px rgba(255,0,0,0.80);
  -moz-box-shadow: 0 0 5px rgba(255,0,0,0.80);
  -o-box-shadow: 0 0 5px rgba(255,0,0,0.80);
  -ms-box-shadow: 0 0 5px rgba(255,0,0,0.80);
  box-shadow: 0 0 5px rgba(255,0,0,0.80);
}
table.show,
table.edit {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
table.show td,
table.edit td {
  vertical-align: top;
}
table.show td:first-child,
table.edit td:first-child {
  text-align: right;
  padding-right: 0.5em;
}
table.show td:nth-child(1),
table.edit td:nth-child(1) {
  color: #1d74b7;
}
table.show td:nth-child(2),
table.edit td:nth-child(2),
table.show input,
table.edit input,
table.show textarea,
table.edit textarea {
  min-width: 24.99em;
}
table.show button,
table.edit button {
  margin-top: 0.2em;
}
table.show tr:nth-child(odd) td:nth-child(2) {
  background: #f5f7f9;
}
table.show tr:first-child td:nth-child(2) {
  white-space: pre-line;
}
table.edit td:nth-child(2) {
  background: #f5f7f9;
}
ul#list {
  list-style-type: none;
  margin-top: 0.5em;
}
ul#list li {
  padding: 0.2em;
}
ul#list li:nth-child(odd) {
  background: #f5f7f9;
}
